{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="d-grid justify-content-md-center pb-3 pt-3">
        {% if form.errors %}
                <p>Что-то не так, попробуйте еще раз</p>
            {% endif %}
            {% if next %}
            {% if user.is_authenticated %}
                <p>У вас нет доступа</p>
            {% else %}
                <p>Войдите в систему, чтобы увидеть эту страницу</p>
            {% endif %}
        {% endif %}
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <table class="table table-borderless w-auto">
                <tr>
                  <td><h5>Имя пользователя</h5></td>
                  <td>{{ form.username }}</td>
                </tr>
                <tr>
                  <td><h5>Пароль</h5></td>
                  <td>{{ form.password }}</td>
                </tr>
            </table>
            <center>
            <input class="btn btn-dark btn" type="submit" value="войти" />
            <input type="hidden" name="next" value="{{ next }}" />
            </center>
        </form>
        {# Assumes you setup the password_reset view in your URLconf #}
        <p><a href="{% url 'password_reset' %}" class="link-secondary">Забыли пароль</a></p>
      <center>
      <h6>В первый раз? <a href="" class="link-success">Регистрация</a></h6>
      </center>
    </div>
</div>
{% endblock %}
